{% extends "home/base.html" %}
{% load static %}
{% block placeholder %}

<div class="container" style="margin-bottom: 20px">
		<div class="panel-default" style="border: 5px solid #CECBC6; border-radius: 15px 50px">
		<div class="panel-heading">
				<div class="text-center">
				<p style="font-size: 25px; font-weight: bold;">CHÍNH SÁCH ĐỔI TRẢ</p>
				</div>
		</div>
		<div class="panel-body">
		<div class="text-center">
			<img src="{% static 'images/img_khac/doitra/cachthuc.jpg' %}" alt="baohanh" class="img-responsive center-block">
			<img src="{% static 'images/img_khac/doitra/dieukien.jpg' %}" alt="baohanh" class="img-responsive" style="margin-top: 20px">
			<img src="{% static 'images/img_khac/doitra/doitra1.jpg' %}" alt="baohanh" class="img-responsive" style="margin-top: 20px">
			<img src="{% static 'images/img_khac/doitra/luuy.jpg' %}" alt="baohanh" class="img-responsive" style="margin-top: 20px">
			</div>
		</div>
			
	</div>
</div>



{% endblock %}