{% extends "home/base.html" %}
{% load static %}
{% block placeholder %}

<div class="container" style="margin-bottom: 20px">
		<h3 style="font-weight: bold">Tuyển dụng: </h3>
		<div class="panel-default" style="border: 10px solid black;">
		<img src="{% static 'images/img_khac/tuyendung/tuyendung1.jpg' %}" alt="tuyendung" class="img-responsive center-block">
		<div style="margin-left: 18%; font-size: 16px">
			<div class="text-center">
				<h3 style="font-weight: bold"> SHOP cần tuyển gấp:  </h3>
				<h4> 10 Nhân viên bán hàng </h4>
			</div>
	<p style="font-size: 18px;font-weight: bold">MÔ TẢ CÔNG VIỆC:</p>
	<p>Giới thiệu sản phẩm và tư vấn phối kiểu cho khách hàng theo mùa và theo xu hướng thời trang.</p>
	<p>Nắm bắt tâm lý khách hàng, đối tượng khách hàng, thực hiện chốt đơn hàng nhanh và hài lòng khách hàng</p>
	<p>Thực hiện các hoạt động chăm sóc khách hàng và một số công việc theo yêu cầu sẽ được trao đổi cụ thể trong <p>quá trình phỏng vấn</p>
	<p style="font-size: 18px;font-weight: bold">YÊU CẦU:</p>
	<p>	Nữ: 18 đến 30 tuổi. Cao 1.53m trở lên</p>
	<p>	Ưu tiên ứng viên có kinh nghiệm bán hàng các nhãn hàng thời trang hoặc ngành bán lẻ.</p>
	<p>	Am hiểu, yêu thích và cập nhật xu hướng thời trang. Ngoại hình ưa nhìn, gu thẩm mỹ cao. Giao tiếp tốt, <p>nắm bắt tâm lý khách hàng.</p>
	<p>	Làm việc theo ca. Bắt buộc xoay ca.</p>
	<p style="font-size: 18px;font-weight: bold">	QUYỀN LỢI:</p>
	<p>	Thu nhập hàng tháng: 7tr-11tr trở lên (gồm l</p>ương cơ bản + thưởng theo kết quả kinh doanh)</p>
	<p>	Mua sản phẩm J-P với giá ưu đãi
	<p>	Môi trường làm việc sáng tạo, chuyên nghiệp và thân thiện.</p>
					<div style="margin-left:50%; margin-top: 20px; border: 3px solid black; border-radius: 15px 50px">
					<p style="font-size: 18px; font-weight: bold;">LIÊN HỆ NỘP HỒ SƠ:</p>
					<p>	Địa chỉ: KTX Khu B, Đại học Quốc gia TP Hồ Chí Minh</p>
					<p>	ĐT: 0976 78 76 74 (Mr Hoàng)</p>
					<p>	Email: 14520315@gm.uit.edu.vn</p>
					<p>	Chú ý: Khi liên hệ báo rõ thông tin tiếp cận từ Website.</p>
					</div>	

		</div>
	</div>
	</div>





{% endblock %}