{% extends "home/base.html" %}
{% load static %}
{% block placeholder %}

	<div class="container" style="margin-bottom: 20px">
		<div class="panel-default" style="border: 5px solid #CECBC6; border-radius: 15px 50px">
		<div class="panel-heading">
				<div class="text-center">
				<p style="font-size: 25px; font-weight: bold;">THÔNG TIN VẬN CHUYỂN</p>
				</div>
		</div>
		<div class="panel-body">
			<img src="{% static 'images/img_khac/vanchuyen/quytrinh.png' %}" alt="baohanh" class="img-responsive center-block">
			<h2 style="font-weight: bold;">Phí vận chuyên theo mức phí sau: </h2>
			<img src="{% static 'images/img_khac/vanchuyen/phivanchuyen.jpg' %}" alt="baohanh" class="img-responsive center-block">
			</div>
		</div>
			
	</div>



{% endblock %}